.git
.claude
.env
.env.*
!.env.example
node_modules
vendor
storage/app/public/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/storage
public/build
*.log
