.swal2-popup{
    background: var(--panel-color);
    color: var(--title-color);
}



#swal2-title{
    font-size: 16px;
}

#swal2-html-container{
  font-size: 14px;
}

.swal2-actions{
    margin: 0;
}
#swal2-html-container{
    padding: 8px;
}

.swal2-cancel,
.swal2-confirm{
  font-size: 14px;
}

.swal2-confirm{
    background-color: blue;
}

.swal2-backdrop-show{
  z-index: 5000;
}
